@font-face {
  font-family: "Space-Grotesk";
  src: url(../assets/fonts/SpaceGrotesk-VariableFont_wght.ttf) format("truetype");
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Space-Grotesk";
  background-color: #151515;
}

p {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #d9d9d9;
}

h1 {
  font-weight: 700;
  font-size: 4rem;
  line-height: 4rem;
  letter-spacing: -1.14px;
  color: #ffffff;
}
@media (min-width: 768px) {
  h1 {
    font-size: 7.2rem;
    line-height: 7.2rem;
    letter-spacing: -2.05px;
  }
}
@media (min-width: 1110px) {
  h1 {
    font-size: 8.8rem;
    line-height: 8.8rem;
    letter-spacing: -2.5px;
  }
}

h2 {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4rem;
  letter-spacing: -1px;
  color: #ffffff;
}
@media (min-width: 768px) {
  h2 {
    font-size: 4.8rem;
    line-height: 5.6rem;
    letter-spacing: -1.5px;
  }
}

h3 {
  font-weight: 700;
  font-size: 4rem;
  line-height: 4rem;
  letter-spacing: -1.14px;
  color: #ffffff;
}
@media (min-width: 768px) {
  h3 {
    font-size: 7.2rem;
    line-height: 7.2rem;
    letter-spacing: -2.05px;
  }
}
@media (min-width: 1110px) {
  h3 {
    font-size: 8.8rem;
    line-height: 8.8rem;
    letter-spacing: -2.5px;
  }
}

h4 {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: #ffffff;
}

button {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.6rem;
  letter-spacing: 2.29px;
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  border-bottom: 2px solid #4ee1a0;
  transition: all 0.2s;
}
button:hover {
  color: #4ee1a0;
}
button a {
  text-decoration: none;
}

svg {
  cursor: pointer;
  transition: all 0.2s;
}
svg:hover {
  fill: #4ee1a0;
}

.container {
  text-align: center;
}

.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 2rem;
}
.header__logo--text {
  margin-bottom: 2rem;
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 700;
}
.header__social {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  justify-content: center;
  align-items: center;
  -moz-column-gap: 2.4rem;
       column-gap: 2.4rem;
}
.header__social--icon {
  fill: white;
  transform: scale(0.8);
  cursor: pointer;
}
.header__content {
  max-width: 34.3rem;
  margin: 0 auto;
}
.header__content--headline {
  margin-bottom: 2rem;
}
.header__content--headline span {
  border-bottom: 4px solid #4ee1a0;
}
.header__content--text {
  margin-bottom: 2.4rem;
}
.header__content--btn {
  padding-bottom: 1rem;
  margin-bottom: 8rem;
}

.hero__photo {
  overflow: hidden;
  position: relative;
  height: 38.3rem;
  margin-bottom: 4rem;
  z-index: -1;
}
.hero__photo--img {
  width: 17.4rem;
}
.hero__photo--bgPattern-circle, .hero__photo--bgPattern-rings {
  position: absolute;
  z-index: -1;
}
.hero__photo--bgPattern-circle {
  bottom: 0;
  right: 0;
  transform: translateX(50%);
}
.hero__photo--bgPattern-rings {
  top: 32%;
  left: 0;
  transform: translateX(-65%);
}

.features {
  padding-block: 4rem;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  max-width: 34.3rem;
  margin: 0 auto;
  margin-bottom: 8rem;
}
.features__feature {
  margin-bottom: 2.4rem;
}

.projects {
  margin: 0 auto 8rem;
  max-width: 34.3rem;
}
.projects__header {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;
  margin-bottom: 4rem;
}
.projects__header--btn {
  padding-bottom: 1rem;
}
.projects__project {
  text-align: left;
  margin-bottom: 4rem;
}
.projects__project--img {
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.projects__project--headline {
  margin-bottom: 0.7rem;
}
.projects__project--tools {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  -moz-column-gap: 1.8rem;
       column-gap: 1.8rem;
  margin-bottom: 2rem;
}
.projects__project--links {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  -moz-column-gap: 2.4rem;
       column-gap: 2.4rem;
}
.projects__project--links-btn {
  padding-bottom: 1rem;
}

.contact {
  background-color: #242424;
}
.contact__container {
  max-width: 34.3rem;
  padding-block: 6rem 8.7rem;
  margin: 0 auto;
  border-bottom: 1px solid white;
}
.contact__content {
  margin-bottom: 5rem;
}
.contact__content--headline {
  margin-bottom: 2rem;
}
.contact__form {
  text-align: left;
}
.contact__form--input input {
  background-color: transparent;
  color: white;
  border: none;
  padding-bottom: 1.6rem;
  padding-left: 2.4rem;
  border-bottom: 1px solid white;
  margin-bottom: 3.2rem;
  width: 100%;
}
.contact__form--input input:focus {
  outline: none;
  border-bottom: 1px solid #4ee1a0;
}

.footer {
  background-color: #242424;
  padding-block: 4rem 6rem;
}
.footer__logo--text {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.2rem;
  letter-spacing: -0.33px;
  margin-bottom: 2rem;
}
.footer__social {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  justify-content: center;
  -moz-column-gap: 2.56rem;
       column-gap: 2.56rem;
}
.footer__social--icon {
  fill: white;
}/*# sourceMappingURL=App.css.map */