.contact {
  background-color: $color-grey-dark;
  position: relative;
  background: url(../assets/images/pattern-rings.svg) no-repeat,
    $color-grey-dark;
  background-position: top 42.5rem left -34rem;

  &__container {
    max-width: 34.3rem;
    padding-block: 6rem 8.7rem;
    margin: 0 auto;
    border-bottom: 1px solid white;
  }
  &__content {
    margin-bottom: 5rem;
    &--headline {
      margin-bottom: 2rem;
    }
  }

  &__form {
    text-align: left;
    &--input {
      & input {
        background-color: transparent;
        color: white;
        border: none;
        padding-bottom: 1.6rem;
        padding-left: 2.4rem;
        border-bottom: 1px solid white;
        margin-bottom: 3.2rem;
        width: 100%;
        &:focus {
          outline: none;
          border-bottom: 1px solid $color-green;
        }
      }
      & textarea {
        background-color: transparent;
        color: white;
        border: none;
        padding-bottom: 6.4rem;
        padding-left: 2.4rem;
        border-bottom: 1px solid white;
        margin-bottom: 3.2rem;
        width: 100%;
        font-size: 1.6rem;
        line-height: 2.6rem;
        &:focus {
          outline: none;
          border-bottom: 1px solid $color-green;
        }
      }
    }
    &--btn {
      text-align: right;
    }
  }
}
