.features {
  padding-block: 4rem;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  max-width: 34.3rem;
  margin: 0 auto;
  margin-bottom: 8rem;

  @include respond(tablet) {
    max-width: 70.8rem;
    border-bottom: none;
    padding-block: 5.2rem 10rem;
    display: grid;
    grid-template-columns: repeat(2, 34.5rem);
    grid-template-rows: repeat(3, 9.8rem);
    column-gap: 0.7rem;
    row-gap: 5.2rem;
    text-align: left;
    margin: 0 auto;
  }
  @include respond(desktop) {
    max-width: 111rem;
    padding-block: 7.2rem 14rem;
    grid-template-columns: repeat(3, 34.5rem);
    grid-template-rows: repeat(2, 9.8rem);
    column-gap: 3rem;
    row-gap: 5.8rem;
  }
  &__feature {
    margin-bottom: 2.4rem;
    @include respond(tablet) {
      margin: 0;
    }

    &--headline {
      @include respond(tablet) {
        margin-bottom: 1.4rem;
      }
    }
  }
}
