.features {
  padding-block: 4rem;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  max-width: 34.3rem;
  margin: 0 auto;
  margin-bottom: 8rem;

  &__feature {
    margin-bottom: 2.4rem;
  }
}
